.sidebar {
    background-color: #343a40;
    color: white;
}

.content {
    background-color: #f8f9fa;
}

.full-height {
    min-height: 100vh;
}

.fs-1 {
    font-size: 1.5rem !important;
}

.expandable-cell {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.expanded {
    white-space: normal;
}

.search-bar {
    padding-top: 10px;
    padding-bottom: 20px;
}

.gh-link {
    float: right;
}

.kill-process,
.kill-process:hover,
.kill-process:visited {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: red;
}


.process-list {
    width: 100% !important;
}

.process-list td {
    vertical-align: middle;
}

.port-list {
    width: 100% !important;
}

.process-status-container {
    text-align: center;
}

.process-status-lbl {
    font-size: 10px;
}

.contained {
    word-break: break-word;
}